# Node
node_modules/
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Next.js
.next/
out/

# Environment variables
.env
.env.*
!.env.example

# Docker
docker-data/
*.log

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
